 <div class="panel panel-default">
  <div class="panel-heading">
  	<form class="form-inline" role="form">
	  <div class="form-group">
      	<div class="uiselect-200">
      		<ui-select ng-model="vm.form.params.status" ng-change="vm.form.submit()">
			    <ui-select-match placeholder="请选择状态">{{$select.selected.des}}</ui-select-match>
			    <ui-select-choices repeat="obj.status as obj in vm.statusList | filter: $select.search">
			        <div ng-bind-html="obj.des | highlight: $select.search"></div>
			    </ui-select-choices>
			</ui-select>
      	</div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">渠道名称</div>
	      <input class="form-control" ng-model="vm.form.params.cname" type="text" placeholder="渠道名称">
	    </div>
	  </div>
	  <button type="submit" class="btn btn-info" ng-click="vm.form.submit()">查询</button>
    <button class="btn btn-info" ng-click="vm.form.reset()">重置</button>
	</form>
  </div>
  <div class="panel-body">
  		<button type="button" class="btn btn-info glyphicon glyphicon-plus" ui-sref="channel.create">新建渠道</button>
  		<button
  			type="button" 
  			class="btn btn-success glyphicon glyphicon-play"
  			ng-click="vm.changeStatus(1)"
  			ng-disabled="vm.form.params.status == 1 || !vm.gridApi.selection.getSelectedRows().length">启用</button>
		<button
			type="button" 
			ng-click="vm.changeStatus(2)"
			class="btn btn-warning glyphicon glyphicon-pause"
			ng-disabled="vm.form.params.status == 2 || !vm.gridApi.selection.getSelectedRows().length">冻结</button>
  </div>

  <!-- Table -->
  <table class="table">
  	 <div
        ng-if="vm.gridOptions.data.length > 0"
        ng-style="vm.ngstyle"
        ui-grid="vm.gridOptions" 
  		  ui-grid-resize-columns
        ui-grid-auto-resize
        ui-grid-selection
        ui-grid-pagination
        ui-grid-save-state
        ui-grid-empty-base-layer
  		  class="table-uigrid mt20">
        </div>
  </table>
</div>